.mainChar{
    text-align: center;
    padding:15px;
    color:#fff;
}
body{
    background: url('../images/bg/bg1.webp');
    box-sizing: content-box;
    overflow-y: scroll;
    background-size: cover;
    background-position: center;
    padding: 0;
        .layout-content{
            max-width: 1200px;
            margin: auto !important;
            padding: 15px;
        }
        &:before{
            content:"";
            position: absolute;
            background: rgba(0, 0, 0, 0.3);
            width: 100%;
            z-index: -1;
            height: inherit;
            box-shadow: inset 0 0 50px 15px #000;
        }
        &::-webkit-scrollbar-track
        {
            border-radius: 10px;
            background-color: transparent;
        }

        &::-webkit-scrollbar
        {
            width: 12px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: #555;
        }
}
.mainTitle a{
    text-shadow: 0px 0px 5px #000;
    padding: 0 15px;
}

#container{
    background: rgba(0,0,0, 0.8);
    padding: 30px 15px;
    border-radius: 7px !important;
    width: 90%;
    margin: auto;
    max-height: 470px;
    overflow: auto;   
        &::-webkit-scrollbar-track
        {
        border-radius: 10px;
        background-color: transparent;
        }

        &::-webkit-scrollbar
        {
        width: 12px;
        background-color: transparent;
        }

        &::-webkit-scrollbar-thumb
        {
        border-radius: 10px;
        background-color: #555;
        }
        h1,h2,h3,h4,h5{
            color:#fff;
        }
        ul{
            hr{
                color:#fff;
            }
        }
        &.detail{
            height: auto;
            margin: 15px auto;
        }
}
#container.main-list{    
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.lupa{
    stroke:#fff !important;
}
#container.login, #container.register{  
    .card{
        margin: 0px;
        background: rgba(255, 255, 255, 0.1);
        position: relative;
        transition: all 0.1s ease;
        background-repeat: no-repeat;
        display: block;
        background-position-y: -19px;
        box-shadow: 0px 0px 5px -1px #83bcb5;
        background-position-x: 19px;
        padding: 0;
        border: solid 1px #83bcb5;
        border-radius: 5px;
        color: #fff !important;
        align-self: center;
        .row{
            padding-bottom: 10px;
        }
    }
    .card-header{
        color: #fff;
    }
    button{
        width: 140px;
        height: 70px;
        background: rgba(255, 255, 255, 0.1);
        position: relative;
        transition: all 0.1s ease;
        background-repeat: no-repeat;
        display: block;
        background-position-y: -19px;
        box-shadow: 0px 0px 5px -1px #83bcb5;
        background-position-x: 19px;
        padding: 0;
        border: solid 1px #83bcb5;
        border-radius: 5px;
        color: #fff !important;
        align-self: center;
        &:hover {
            box-shadow: 0px 0px 5px -1px #83bcb5;
            background-color: rgba(131, 188, 181, 0.5);
        }
    }
}
header{
    display: flex;
    background: black;
    flex-direction: row;
}

.cntSearch {
    display: flex;  
    flex-direction: column;
    width: 100%;
    align-items: self-end;
    button{
        height: fit-content;
    }
}
.navbar{    
    background: rgba(0,0,0, 0.8);
    padding: 30px;
    border-radius: 7px !important;
    width: 90%;
    margin: 15px auto;
    max-height: 470px;
    overflow: auto;   
    padding: 0 !important;
}
.navbar-brand{
    width: 90%;
    display: block;
    margin: 15px auto !important;
}
.navbar .nav-link, .navbar-brand{
    color: #fff !important;
}
.btnAlt, .out-relate{
    display: flex;
    justify-content: space-between;
    button.btn{
        margin: 0px;
        width: 140px;
        height: 70px;
        background: rgba(255, 255, 255, 0.1);
        position: relative;
        transition: all 0.1s ease;
        background-repeat: no-repeat;
        display: block;
        background-position-y: -19px;
        box-shadow: 0px 0px 5px -1px #83bcb5;
        background-position-x: 19px;
        padding: 0;
        border: solid 1px #83bcb5;
        border-radius: 70px;
        color: #fff !important;
        align-self: center;
        &:hover{
            box-shadow: 0px 0px 5px -1px #83bcb5;
            background-color: rgba(131, 188, 181, 0.5);

        }
    }
}

.out-relate{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 15px;
    position: relative;
    form{
        width: auto;        
    }
    nav{
        justify-content: center;
        display: flex;
        margin-top: 15px;
    }
    
    &::before {
        content: '';
        position: relative;
        top: 0px;
        left: 0;
        width: 30%;
        right: 0;
        height: 5px;
        background: transparent;
        box-shadow: 0px 0px 10px 5px rgba(131, 188, 181, 0.1);
        transition: box-shadow 0.3s ease;
        margin: 15px auto;
        
    }

}
#container:hover ~ .out-relate:before {
        box-shadow: 0px 0px 15px 7px rgba(131, 188, 181, 0.3);
    }
.filter-cnt{
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 7px !important;
    width: 90%;
    margin: 15px auto;
    max-height: 470px;
    overflow: hidden;
    padding: 0 !important;
    top: -30px;
    position: relative;
    
    .navbar{    
        background: transparent !important;
        padding: 30px;
        border-radius: 7px !important;
        width: 100%;
        margin: 0;
        max-height: 470px;
        overflow: auto;   
    }
}
.server-display-chip{
    display: none;
}
.row-wrap{
    flex-direction: row !important;
    flex-wrap: wrap;
}
.chip-cnt{
    margin-top: 0;
    &::-webkit-scrollbar-track
    {
    border-radius: 10px;
    background-color: transparent;
    }

    &::-webkit-scrollbar
    {
    width: 12px;
    background-color: transparent;
    }

    &::-webkit-scrollbar-thumb
    {
    border-radius: 10px;
    background-color: #555;
    }
}
.chips{    
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: 100%; */
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    column-gap: 15px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}
.server-display-chip:checked + label.server-chip {
    color: #000 !important;
    background-color: rgba(131, 188, 181, 0.4);
    transform: scale(1.1);
    font-weight: bold;
    text-shadow: 0px 0px 4px #fff !important;
}
.server-chip{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    margin: 0px;
    min-width: 40px;
    min-height: 40px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    transition: all 0.1s ease;
    background-repeat: no-repeat;
    background-position-y: -19px;
    box-shadow: 0px 0px 5px -1px #83bcb5;
    background-position-x: 19px;
    border: solid 1px #83bcb5;
    border-radius: 70px;
    color: #83bcb5;
    cursor: pointer;
    &:hover{
        background: rgba(255, 255, 255, 0.1);
        color:#83bcb5;
        box-shadow: 0px 0px 5px -1px #83bcb5;
        background-color: rgba(131, 188, 181, 0.5);
        transform: scale(1.1);

    }
}
#navbarSupportedContent{
    background: rgba(0,0,0, 0.3);
    padding: 15px;
    width: 100%;
}
.container-fluid{
    padding: 0px 0px 0px 15px;
}
.list-flex{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    .chip{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        display: grid;
        align-content: center;
    }
    a{
        text-decoration:none;
    }
    hr{
        color:#fff;
    }
}
.list-grid{    
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    .chip{
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        display: grid;
        align-content: center;
    }
    a{
        text-decoration:none;
    }
}
.charList{
    display: flex;
    position: relative;
    img{
        height: 52px;
    }
    .mainCharInfo, .altAmount{
        color:#fff;
    }
    .altAmount {
        width: auto;
        display: block;
        text-align: right;
        min-width: 120px;
    }
}
.mainCharInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    margin-left: 15px; 
}
.mainCharInfo.msg{
    display: block;
    max-height:100px;
    overflow-y:scroll;
    &::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background-color: #555;
    }
    small{
        display: block;
    }
}
.addMainAlt{
    display: flex;
    width: auto;
    flex-direction: row;
    padding: 0;
    vertical-align: middle;
    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}
.relation{
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    transition: all 0.5s;
    &:hover{
        background: rgba(0,0,0,0.8);
        transition: all 0.5s;
        transform: scale(1.2);
    }
    img{
        width: 50px;
        height: 100%;
        filter: invert(1);
    }
}

@media only screen and (max-width: 1111px) {
    body{
        background-size: auto;
        background-position: top left;
    }
}

@media only screen and (max-width: 768px) {
    .list-grid{    
        grid-template-columns: auto auto;
    }
    .first-nav.navbar-brand h1 {
        width: auto !important;
        font-size: 17px !important;
        text-align: left !important;
        align-self: center !important;
    }
    #loginToggle:checked ~ .loginToggle {
        width: 130px !important;
        justify-content: end !important;
        padding-right: 22px !important;
        transition: all 0.5s !important;
    }
    .first-nav.navbar-brand {
        justify-content: space-between !important;
    }
    .chips{    
        width: auto;
        grid-template-columns: 85px 85px 85px 85px 85px 85px 85px 85px 85px 85px 85px;
    }
    #container, .out-relate, .filter-cnt, .navbar{
        width:100% !important;
    }
    #container{
        padding: 15px !important;
    }
  
        .charList
        .altAmount {
            text-wrap: nowrap !important;
        }
        .out-relate:before {
            width: 90%;
        }
        

        footer {
            width: 100% !important;
        }
        .loginToggle{
            position: relative !important;
            top: 0 !important;
            right: 0 !important;
            margin-bottom:15px !important;
        }
        .first-nav.navbar-brand{
            margin: 15px 0 !important;
            width: 100%;
        }
}
@media only screen and (max-width: 600px) {
    .list-grid{    
        grid-template-columns: auto;
    }
}

.flexiCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}
.form-check.relation-list {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    flex-wrap: wrap;
}
.white{
    color:#ffffff;
}
.navbar-plus-filter{
    width: 100%;
    .btnAlt{
        align-content: center;
        button{
            margin:auto;
        }
    }
    .nav-filter{
        .form-group {
            align-self: center;
        }
    }
}
.nav-filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}


/*** toggle ***/
.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .btn-container i {
    display: inline-block;
    position: relative;
    top: -9px;
  }
  
  label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
  }
  
  .btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
  }
  
    .btn-color-mode-switch > label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 140px;
    height: 70px;
    background: rgba(255,255,255,0.1);
    position: relative;
    transition: all 0.1s ease;
    background-repeat: no-repeat;
    display: block;
    background-position-y: -19px;    
    box-shadow: 0px 0px 5px -1px #83bcb5;
    background-position-x: 19px;
    padding: 0;
    border: solid 1px #83bcb5;
    border-radius: 70px;
    cursor: pointer;
  }
  
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 70px;
    height: 100%;
    background: url(/images/toggle/noob-1.webp) rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    position: absolute;
    left: 1px;
    bottom: 0px;
    text-align: center;
    transition: all 0.1s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #83bcb5;
    background-repeat: no-repeat;
    background-position: 21px 10px;
  }
  .btn-color-mode-switch > label.btn-color-mode-switch-inner:hover:after{
    content: attr(data-off);
    width: 70px;
    height: 100%;
    background: url(/images/toggle/noob-1.webp) rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    position: absolute;
    left: 1px;
    bottom: 0px;
    text-align: center;
    transition: all 0.1s ease;
    box-shadow: 0px 0px 7px -2px #83bcb5;
    padding: 5px 0px;
    color: #83bcb5;
    background-repeat: no-repeat;
    background-position: 21px 10px;
    transform: scale(0.9);

  }
  .toogle-char{
    width: 48px;
    height: 48px;
    margin-left: 15px;
    &.noob{
        background: url('/images/toggle/noob-1.webp');
    }
    &.pro{
        background: url('/images/toggle/main-0.webp');
    }
  } 
  .btn-container.character-type{
    display: flex;
    flex-direction: row;
    .toogle-char{
        align-self: center;
    }
    .switch{        
        align-self: end;
    }
  }
  .btn-color-mode-switch > .alert {
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
  }
  
  .btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
    
    color: #83bcb5 !important;
    background-repeat: no-repeat;
    background-position: 90px -8px;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    width: 70px;
    height: 100%;
    background: url(/images/toggle/main-1.webp) rgba(131, 188, 181, 0.3);
    border-radius: 70px;
    position: absolute;
    left: 68px;
    bottom: 0px;
    text-align: center;
    transition: all 0.1s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #83bcb5;
    background-repeat: no-repeat;
    background-position: 21px 10px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 0 4px #fff;
  }
  
  .btn-color-mode-switch:hover input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
    box-shadow: 0px 0px 7px 1px #000;
    transition: all 0.1s ease;
  }
  
  .btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
    display: block;
  }
  
  .dark-preview {
    background: #0d0d0d;
  }
  
  .white-preview {
    background: #fff;
  }
  
  /*** Filter Toggler Start ***/
    input[type='checkbox']#filterToggle {
     display: none;
    }

    .filterToggle{
        display:flex;
        width: 90%;
        margin: auto;
        justify-content: center;
        margin-top: 30px;
        cursor: pointer;
        z-index: 9;
        position: sticky;
    }
    .filterToggle::after, .filterToggle::before{
        content:"";
        width: 32px;
        height: 32px;
        display: block;
        margin: 0 10px;
        transition: all 0.5s ease;
    }


    input[type="checkbox"]#filterToggle:not(:checked) + .filterToggle::before,
    input[type="checkbox"]#filterToggle:not(:checked) + .filterToggle::after
    {
        animation: swordClosed 0.4s alternate infinite ease-in-out;
    }
    input[type="checkbox"]#filterToggle:not(:checked) ~ .filter-cnt{
        opacity: 0;
        height: 0;
        transition: all 0.4s ease-in-out;
    }
    
    input[type="checkbox"]#filterToggle:checked ~ .filter-cnt{
        height: 200px;
        opacity: 1;
        top: -15px;
        transition: all 0.4s ease-in-out;
    }
    
    .filterToggle::before{
        background: url('/images/toggle/sword.webp');
        background-repeat: no-repeat;
        transform: rotate(135deg);
    }
    .filterToggle::after{
        background: url('/images/toggle/sword.webp');
        background-repeat: no-repeat;        
        transform: rotate(-45deg);
    }
    .filterToggle img{
        top: 0px;
        display: block;
        position: relative;
        transition: all 0.4s ease-in-out;
    }
    
    input[type="checkbox"]#filterToggle:checked + label.filterToggle img{
        top: 20px;        
        transition: all 0.4s ease-in-out;
    }
    input[type="checkbox"]#filterToggle:checked + label.filterToggle:before{
        transform: rotate(180deg);
        margin: 0 0px;
        transition: all 0.4s ease-in-out;
    }
    input[type="checkbox"]#filterToggle:checked + label.filterToggle:after{
            transform: rotate(-90deg);
            margin: 0 0px;
            transition: all 0.4s ease-in-out;
    }

    @keyframes swordClosed {
        from {            
            margin: 0 10px;
        }
        to {              
            margin: 0 5px;
        }
    }

  /*** Filter Toggler END ***/

  html, body {
    margin: 0;
    padding: 0;
    height: 1140px;
}

.layout-content {
    width: 100%;
    height: 100%;
    
}


    footer {
        padding-top: 30px;
        background: rgba(0, 0, 0, 0.8);
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        a{
            display: flex;
            font-size: 13px;
            color: rgba(131, 188, 181, 1);
            justify-content: center;
            padding: 5px;
            flex-direction: column;
            figcaption {
                align-self: center;
                margin-left: 15px;
                text-shadow: 0px 0px 10px #fff;
            }
        }
        img{
            width: 35px;
            align-self: center;
        }
    }
    .pagination{
        align-self: center;
    }
    .flex-center{
        display: flex;
        justify-content: center;
        button.btn{
            margin: 0 15px;
        }
    }
    
    .first-nav.navbar-brand{
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        h1{
            width: 100%;
            a{
                text-decoration: none;
                color:#fff;
            }
        }
        
        .welcome{
            background: rgba(0, 0, 0, 0.8);
            padding: 10px;
            border-radius: 7px !important;
            text-align: center;
            display: block;
            height: fit-content;
        }
    }
    .edit-cnt{
        display: flex;
        justify-content: end;
        width: 100%;
        .edit{
            position: relative;
            display: block;
            background-repeat: no-repeat;
            box-shadow: 0px 0px 5px -1px #83bcb5;
            background: rgba(255, 255, 255, 0.1);
            padding: 10px;
            border: solid 1px #83bcb5;
            border-radius: 5px;
            color: #fff !important;
            text-decoration: none;
            text-align: center;
            transition: all 0.1s ease;
            max-width: 200px;
            margin-bottom: calc(15px + .5rem);
            width: 100%;
            &:hover {
                box-shadow: 0px 0px 5px -1px #83bcb5;
                background-color: rgba(131, 188, 181, 0.5);
            }
    
        }
    }
    .edit-cnt.detail{
        flex-direction: column;
        imput, label, textarea, h2{
            width: 100%;
        }
    }
    img.toxic{
        height: 20px;
        width: 20px;
        position: absolute;
        left: 37px;
        top: 9px;
    }
    img.weapon {
        height: 25px;
        position: absolute;
        left: 32px;
        top: 26px;
        filter: opacity(0.6);
    }
    
    .charList.main:before{
        content: "M";
        color: #FF9800;
        font-size: 15px;
        text-shadow: 0 0 8px #FF9800, 0 0 2px #ffe625;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .charList.alt:before{
        content: "A";
        color: #fd01c2;
        font-size: 15px;
        text-shadow: 0 0 2px #fd01c2, 0 0 8px #fd01c2;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    #loginToggle{
        display:none;
    }
    
    #loginToggle:not(:checked)  ~ .loginToggle .auth-btn{
        opacity: 0;
        pointer-events: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
    #loginToggle:checked ~ .loginToggle .auth-btn,
    #loginToggle:checked ~ .loginToggle form button.auth-btn{
        opacity: 1 !important;
        pointer-events: all;
        background: transparent !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        width: 60%;
    }
    .loginToggle{        
        overflow: hidden;
    }
    .loginToggle a, .loginToggle button{
        color: #83bcb5;
        text-shadow: 0px 0px 4px #000000,
                     0px 0px 5px #000000,
                     0px 0px 6px #000000,
                     0px 0px 7px #000000, 
                     0px 0px 8px #000000, 
                     0px 0px 9px #000000;
                     border: 0px;
        transition: all 0.5s;
        font-size: 13px;
        text-decoration: none;
        font-weight: bold;
        &:hover{            
            color: #000000; 
            text-shadow: 0px 0px 4px #83bcb5,
                        0px 0px 5px #83bcb5,
                        0px 0px 6px #83bcb5,
                        0px 0px 7px #83bcb5, 
                        0px 0px 8px #83bcb5, 
                        0px 0px 9px #83bcb5;
            box-shadow: 0px 0px 10px 1px #83bcb5, inset 0px 0px 10px 1px #83bcb5; 
            border-top-left-radius: 35px;
            border-bottom-left-radius: 35px;
            transition: all 0.5s;
        }
    }
    .loginToggle {
        
        border-radius: 30px;
        position: fixed;
        right: 20px;
        top: 20px;
        cursor: pointer;
        box-shadow: 0px 0px 5px -1px #83bcb5;
        z-index: 99;
        width: 48px;
        height: 48px;
        display: flex;      
        
        justify-content: center;
        align-items: center;
        &::before{
            content: "|";
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            transform: rotate(90deg);
            top: 8px;
            font-weight: bold;
            transition: all 0.5s;
            right: 22px;
        }
        &::after{
            content: "|";
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            transform: rotate(90deg);
            top: 16px;
            font-weight: bold;
            transition: all 0.5s;
            right: 22px;
        }
        &:hover{
            box-shadow:  0px 0px 10px 4px #83bcb5 !important;
            transition: all 0.5s;         
        }
    }

    
    #loginToggle:checked ~ .loginToggle{
            width: 184px;
            justify-content: end;
            padding-right: 22px;
            transition: all 0.5s;

        &:before{
            content: "|";
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            transform: rotate(45deg);
            top: 13px;
            transition: all 0.5s;
        }
        &:after {
            content: "|";
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            transform: rotate(-45deg);
            top: 13px;
            font-weight: bold;
            transition: all 0.5s;
        }
    }
    
    .alert{
        color: #fff !important;
        text-shadow: 1px 1px 10px green;
    }
    .unlink-character {
        background: url('/images/toggle/unlink2.webp');
        width: 80px;
        height: 52px;
        background-repeat: no-repeat;
        border: solid 1px #83bcb5;
        border-left: 0px !important;
        box-shadow: 0px 0px 0px 0px #83bcb5;
        transition: all 0.2s;
        background-position:center;
        position: relative;
        
        &:before{
            content: "Unlink";
            font-size: 10px;
            color: #fff;
            top: 2px;
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            margin: auto;
            width: 80px;
            height: 52px;      
        }
        &:after{
            content: "";
            bottom: 0px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            background: url('/images/toggle/death.webp');
            width: 52px;
            height: 52px;
            background-repeat: no-repeat;
            background-position: 0px 0px;        
        }
        &:hover{          
            
            background: url('/images/toggle/unlink2.webp');
            background-repeat: no-repeat;
            width: 80px;
            height: 52px;  
            border: solid 1px #83bcb5;
            transition: all 0.2s;
            background-position:center;
            animation: glowBtn 1s alternate infinite ease;
            
            &:before{
                content: "Are you sure?";
                font-size: 9px;
                color: #fff;
                top: 0px;
                position: absolute;
                text-align: center;
                left: 0;
                right: 0;
                margin: auto;  
            }
            &:after{
                animation: death 2s steps(1) infinite;    
            }
        }

    }
    .flex-checkbox{
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
        label{
            margin-left: 15px;
        }
    }
    
@media only screen and (max-width: 768px) {
    
    .unlink-character {        
        animation: glowBtn 1s alternate infinite ease;
    }

}
    
    @keyframes glowBtn {
        0% {
            box-shadow: 0px 0px 0px 0px #ea6664;
        }
        100% {
            box-shadow: 0px 0px 15px 0px #ea6664
        }

    }

    @keyframes death {
        0% {
            background-position: 0 0;
          }
          6.25% {
            background-position: -48px 0;
          }
          12.5% {
            background-position: -96px 0;
          }
          18.75% {
            background-position: -144px 0;
          }
          25% {
            background-position: -192px 0;
          }
          31.25% {
            background-position: -240px 0;
          }
          37.5% {
            background-position: -288px 0;
          }
          43.75% {
            background-position: -336px 0;
          }
          50% {
            background-position: -384px 0;
          }
          56.25% {
            background-position: -432px 0;
          }
          62.5% {
            background-position: -480px 0;
          }
          68.75% {
            background-position: -528px 0;
          }
          75% {
            background-position: -576px 0;
          }
          81.25% {
            background-position: -624px 0;
          }
          87.5% {
            background-position: -672px 0;
          }
          93.75% {
            background-position: -720px 0;
          }
          100% {
            background-position: -768px 0;
          }
    }

    @keyframes login {
        0% {
            background-position: 0 0;
          }
          6.25% {
            background-position: -48px 0;
          }
          12.5% {
            background-position: -96px 0;
          }
          18.75% {
            background-position: -144px 0;
          }
          25% {
            background-position: -192px 0;
          }
          31.25% {
            background-position: -240px 0;
          }
          37.5% {
            background-position: -288px 0;
          }
          43.75% {
            background-position: -336px 0;
          }
          50% {
            background-position: -384px 0;
          }
          56.25% {
            background-position: -432px 0;
          }
          62.5% {
            background-position: -480px 0;
          }
          68.75% {
            background-position: -528px 0;
          }
          75% {
            background-position: -576px 0;
          }
          81.25% {
            background-position: -624px 0;
          }
          87.5% {
            background-position: -672px 0;
          }
          93.75% {
            background-position: -720px 0;
          }
          100% {
            background-position: -768px 0;
          }
        
      }